*{
    margin: 0px;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100px;
    background-color: green;
    text-align: center;
    display: inline-block;
    position: fixed;
    z-index: 2; /*layering in code*/
}
.header {
    position: relative;
    top: 30px;
    text-align: center;
}
nav {
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 2;
}
ul {
    list-style-type: none;
    left: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden; /*does not go behind the height and the width of the container*/
    background-color: black;
}
ul li {
    float: left; /*shift to the left*/
}
body {
    background-color: rosybrown;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover {
    background-color: red;
}
main {
    position: absolute;
    top: 900px;
}
p {
  position: relative;
  border-left: 6px solid #ff4f81;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  line-height: 1.8;
  color: #444;
  top: 200px;
  font-size: 17px;
  color: black;
}