*{
    margin: 0px;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100px;
    background-color: #F2A65A;
    text-align: center;
    display: inline-block;
    position: fixed;
    z-index: 2; /*layering in code*/
}
.header {
    position: relative;
    top: 30px;
    text-align: center;
}

nav {
    background-color: black;
    position: fixed;
    top: 100px;
    width: 300px;
    height: 100px;
    text-align: center;
    z-index: 2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*does not go behind the height and the width of the container*/
    background-color: #2E8B57;
    text-align: center;
}
ul li {
    float: center; /*shift to the left*/
    text-align: center;
}
body {
    background-color: #1B4332;
}
ul li a {
    background-color: #269b4b;
    position: fixed;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    height: 100px;
    width: 300px;
    top: 100px;
    text-decoration: none;
}
.home {
    left: 50px;
}
.a1 {
    left: 350px;
}
.a2 {
    left: 650px;
}
.a3 {
    left: 950px;
}
.a4 {
    left: 1250px;
}
ul li a:hover {
    background-color: #FFB703;
}
main {
    position: absolute;
    top: 900px;
}
#leftpic {
    position: absolute;
    top: 250px;
    left: 200px;
    z-index: 1;
    width: 270px;
    height: 500px;
}
#rightpic {
    position: absolute;
    top: 250px;
    right: 200px;
    z-index: 1;
    width: 270px;
    height: 500px;
}
footer{
    position: relative;
    background-color:#7F5539;
    color:black;
    text-align:center;
    padding:20px;
    top: 775px;
} 
#text {
    position: relative;
    top: 500px;
    text-align: center;
}